style.css

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: block;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #243447
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  border: solid black;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

div {
  display:block;
}

p {
  font-size: 20px;
}

#main {
  display: flex;
}

.form {
  display: flex;
  width: 100%;
  margin: 3px;
  border: solid black;
}

form {
  display: block;
  width: 80%;
  margin: 5em auto;
  
}

h1 {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

h3 {
  margin:2px;
}

h6 {
  font-size: small;
}

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

button {
  width:100%;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(60, 60, 60);
}

.show {
  display: block;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin:3px;
}

.hidden {
  display: none;
}

.toggle {
  border: solid black;
  width: 420px;
}

/* Dark Mode */
.dark {
  background-color:#243447;
  color: white;
  height: 100vh;
}

/* Light Mode */
.light {
  background-color: white;
  color: black;
  height: 100vh;
}

/* Styling the Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 13px;
  padding-top: 20px;
  margin-right: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(60, 60, 60);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  border: solid black 3px;
  text-align: center;
  margin: 3px;
  margin-top: 20px;
}
